.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

/* adress */
.adress {
  font-style: normal;
}

/* LOGO */

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-link-span {
  color: var(--navy-blue);
}
.logo-portfolio-span {
  color: var(--cloud);
}

/* Menu */

.menu-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

/* FLEX */
/* Logo paddings */
.page-header {
  display: flex;
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: 156px;
}
.page-nav {
  display: flex;
}
.menu {
  display: flex;
}
.contact-nav {
  display: flex;
  padding: auto;
}
/* Задає відступ між ними */
.menu-link {
  display: flex;
  padding-right: 40px;
  /* margin-bottom: 24px; */
}
.menu-item {
  display: flex;
}

.menu-link:hover {
  color: var(--ocean);
}
.menu-link:focus {
  color: var(--ocean);
}
.contact-item {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}
.contact-item:hover {
  color: var(--ocean);
}
.contact-item:focus {
  color: var(--ocean);
}

/* HERO section 1 */
.hero {
  background: var(--navy-blue);
}
.hero-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

/* button */
.hero-button {
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
}
.hero-button:hover {
  color: var(--cornflower);
  background-color: var(--ocean);
}
.hero-button:focus {
  color: var(--cornflower);
  background-color: var(--ocean);
}
/* section 2 */

.second-section-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.second-section-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

/* section 3 */

.third-section-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

/* section 4 */
.fourth-section {
  background-color: var(--cloud);
}
.background {
  background-color: var(--white);
}
.fourth-section-header {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.fourth-section-name {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.fourth-section-profession {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: inherit;
}

/* footer */

.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.logo-link-span-footer {
  color: var(--cloud);
}
.footer {
  background: var(--navy-blue);
}
.footer-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

/* PORTFOLIO PAGE */

/* filters */

.filters-button {
  background: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.filters-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris);
}
.filters-button {
  cursor: pointer;
}

.filters-button:hover {
  color: var(--white);
  background-color: var(--ocean);
}
.filters-button:focus {
  color: var(--white);
  background-color: var(--ocean);
}

/* Menu */
.menu-header {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.menu-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Module 3 */
h1.h2.h3.h4.p {
  margin-top: 0;
  margin-bottom: 0;
}
ul.ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
